#  Accessing info from Dictionaries

In [1]:
student = {'Name':'Hassan','Class':'AI','Program':'PIAIC','Age':28}
print(student['Name'])

Hassan

In [2]:
myDict = {'name': 'Hassan Ali Khan', 'age': 28, 'gender': 'M', 'email': 'abcd@hola.com'}

In [3]:
print('age is',myDict['age'])
print('email is',myDict['email'])
print('name is',myDict['name'])

age is 28
email is abcd@hola.com
name is Hassan Ali Khan

In [4]:
newDic = {1:'Asad',2:'saad'}
newDic[1]

'Asad'

In [5]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}
address_of_customer = customer_29876["address"]
print(address_of_customer)

4803 Wellesley St.

The versatility of keys and values

In [6]:
# Key and value string
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}

In [7]:
# Key number, value string
rankings = {5: "Finland", 2: "Norway", 3: "Sweden", 7: "Iceland"}
rankings[2]

'Norway'

In [8]:
# Key string value number
country_ranks_so_far = {"Finland": 5, "Norway": 2, "Sweden": 3, "Iceland": 7}
country_ranks_so_far["Norway"]

2

In [9]:
# Strings and numbers
things_to_remember = {0: "the lowest number", "a dozen": 12, "snake eyes": "a pair of ones", 13: "a baker's dozen"}
things_to_remember

{0: 'the lowest number',
 'a dozen': 12,
 'snake eyes': 'a pair of ones',
 13: "a baker's dozen"}

for using seprate row use indent

In [10]:
things_to_remember = { 
    0: "the lowest number",
    "a dozen": 12,
    "snake eyes": "a pair of ones",
    13: "a baker's dozen"
}
things_to_remember

{0: 'the lowest number',
 'a dozen': 12,
 'snake eyes': 'a pair of ones',
 13: "a baker's dozen"}

In [11]:
# For findiing a value in a Dict.
myDict = {'name':'Hassan Ali Khan','age':28,'gender':'M'}

In [12]:
'email' in myDict

False

In [13]:
'age' in myDict

True