# Variables
- A variable is something that holds a value that may change.
- In simplest terms a variable is just a box that you can put stuff in.
- You can use variables to store all kinds of stuff.

In [1]:
# Create a variable called name.
# Assign a string value "Presidential Initiative for AI and Computing" in thsi variable.
# Prints the string value stored inside this variable.
name = "Presidential Initiative for AI and Computing"
print(name)

Presidential Initiative for AI and Computing

### What we can store in variables
- Strings
- Integers
- Float

In [2]:
a = "Hello"
b = 10
# b is variable name (identifier)
# = is assignment operator
# 10 is value (integer value)
# variable has no data type. it is dependant on value
# integer value 10 is assigned to variable b
c = 0.25
print(a,b,c)

Hello 10 0.25

In [3]:
a = 'Lahore'
print (a)

Lahore

When a new value is assigned to same varibale it is overrided

In [4]:
a = 10.6
print(a)

10.6

There is no need to define data type of identifier. It adopts the data type of input value

In [5]:
# type() finds the data type of variable
a = 12
type(a)

int

In [6]:
b = 12.0
type(b)

float

In [7]:
c = '12'
type(c)

str

In [8]:
# suppose we override string with integer or float
c = 1
type(c)

int

In [9]:
# We can override data in a variable
name = "Hassan"
print(name)
print(type(name))

Hassan
<class 'str'>

In [10]:
name = "Ibtisam"
print("name")

name

In [11]:
name = "Hassan"
name = "Ibtisam"
name = "Zubair"
print(name)

Zubair

In [12]:
a = 12
b = 12.0
c = '12.0'
print("Data type of variable 'a' is : " + f"{type(a)}")
print("Data type of variable 'b' is : " + f"{type(b)}")
print("Data type of variable 'c' is : " + f"{type(c)}")

Data type of variable 'a' is : <class 'int'>
Data type of variable 'b' is : <class 'float'>
Data type of variable 'c' is : <class 'str'>

In [13]:
# Same Data can be stored in many varibales
name = "Hassan"
xyz = "Hassan"
print(name)
print(xyz)

Hassan
Hassan

In [14]:
# Can print multiple variables at a time
x = "Hassan"
y = "Ali"
z = "Khan"
print(x,y,z)

Hassan Ali Khan

## Rules for declaring variable name

- always use meaningful variable names 
- While assigning variables name
    - We can’t leave spaces between words
    - We can’t use quotation marks in variable naming
    - We can’t use number as variable name
    - We can’t use number at the beginning of a variable name
    - We can’t use keywords but use them with combination with other words (for finding keywords run following code)
        ```
        import keyword
        print(keyword.kwlist)
        ```
    - Other than letters numbers and _ nothing can be used in variable name
    - Variable name is case sensitive
    - Use _ to write large name

In [15]:
# always use meaningful variable names 
first_name = "Hassan"
middel_name = "Ali"
last_name = "Khan"
#we can use tab to autofill
print(first_name,middel_name,last_name)

Hassan Ali Khan

In [16]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [17]:
prime_number_that_comes1st = 2 
print(prime_number_that_comes1st)

2

In [18]:
# Use _ to write large name
user_response = True
user_response_time = 10
user_response_time_limit = 20
best_supporting_actress_in_a_drama_or_comedy = None

### Mathamatical Operators
|Sr.No.|Sign |Description|Remarks|
|:----:|:---:|:----------|:------|
|1.|+|addition / concatenation*|concatinate strings|
|2.|-|subtarction||
|3.|`*`|multiplication|can be used for strings too|
|4.|/|division||
|5.|//|division|eliminate decimal part|
|6.|% |remainder||
|7.|`**`|Power Operator|

In [19]:
# Mathamatical Expressions
# operators {+, -, *, /} are commanly used operators
# Lets have a look at '+' operator 
#plus sign for numbers add two numbers
print(23+34)

57

In [20]:
# we can use operator on variables and assign value to a third variable
a = 23
b = 34
c = a+b
print(c)

57

In [21]:
num_1 = 100
num_2 = 200
sum = num_1 + num_2 
print(sum)

300

In [22]:
original_num = 23
num_to_be_added = 8
new_num = original_num + num_to_be_added
print(new_num)

31

In [23]:
# we can use operator on a variable and number
weight = 150
add = weight + 10
print (add)

160

In [24]:
original_num = 23
new_num = original_num + 7 
print(new_num)

30

In [25]:
original_num = 90
original_num = original_num + 10 
print(original_num)

100

In [26]:
popular_number = 4
print(popular_number)
popular_number = 2 + 2 
print(popular_number)
print(2 + 2)

4
4
4

In [27]:
#adding a float and int causes float
num = .075
total = num + 200 
print(total)

200.075

In [28]:
num = 10
another_num = 1.5
sum_of_numbers = num + another_num
print(sum_of_numbers)

11.5

In [29]:
# plus sign for strings contatinate
# in string + is concatenation
a="23"
b="24"
sum=a+b
print(sum)

2324

In [30]:
student_name = "nasir "
father_name = "hussain"
print(student_name+father_name) #plus sign for strings join two strings / contatination

nasir hussain

In [31]:
print("Hello, World!") 
greeting = "Hello, World!"
print(greeting) 
greeting = "Hello "
addressee = "World"
whole_greeting = greeting + addressee 
print(whole_greeting)

Hello, World!
Hello, World!
Hello World

In [32]:
greeting = "Hello"
separators = ", "
addressee = "World"
punc = "!"
whole_greeting = greeting + separators + addressee + punc
print(whole_greeting)

Hello, World!

In [33]:
greeting = "Hello"
separators = ", "
addressee = "World"
punc = "!"
whole_greeting = "Hello, " + "World!" 
print(whole_greeting)
whole_greeting = "Hello" + separators + "World" + punc 
print(whole_greeting)
print("Hello, " + "World!") 
print(greeting + separators + addressee + punc) 
print("Hello" + separators + "World" + punc)

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [34]:
print("The sum of 2 plus 2 is " + "4")

The sum of 2 plus 2 is 4

In [35]:
# We can not contatinate a string and a number
original_num = "23"
new_num = original_num + 7 
print(new_num)

TypeError: can only concatenate str (not "int") to str

In [36]:
print("The sum of 2 plus 2 is " + 4)

TypeError: can only concatenate str (not "int") to str

In [37]:
# other daily use math operators
loss = 12 - 24 
dozens = 3 * 12 
popular_number = 12 / 4 
print(loss,dozens,popular_number)

-12 36 3.0

In [38]:
#during an opertion if a singal value is float answer is float
value1 = 100
value2 = 10.5
sum = value2 - value1
print(sum)

-89.5

In [39]:
#python by default use float in division
v1 = 175
v2 = 137
add = v1+v2
minus = v1-v2
mult = v1*v2
div1 = v2/v1 
print(add)
print(minus)
print(mult)
print(div1)

312
38
23975
0.7828571428571428

### Mathamatical Operators Eliminating Ambiguity
BODMAS
* B --- Bracket
* O --- Order of Powers
* D --- Division
* M --- Multiplication
* A --- Addition
* S --- Subtraction

In [40]:
# Rules for maths
# Doing complex calculations in python work the same way as ordinary algebra
total_cost = 1 + 3 * 4
print(total_cost)
total_cost = 1 + (3 * 4)
print(total_cost)
total_cost = (1 + 3) * 4
print(total_cost)

13
13
16

In [41]:
result_of_computation = (2 * 4) * 4 + 2 
print(result_of_computation)
result_of_computation = ((2 * 4) * 4) + 2 
print(result_of_computation)
result_of_computation = (2 * 4) * (4 + 2) 
print(result_of_computation)

34
34
48

In [42]:
# Other mathamatical operators
# these are mathamatical operators which are not commonly used

In [43]:
# use of // result in integer it elimiates the floating part
v1 = 115
v2 = 20054
div2 = v2//v1 
print(div2)

174

In [44]:
# use of % result in remainder
whats_left_over = 9 % 3
print(whats_left_over)
whats_left_over = 10 % 3
print(whats_left_over)

0
1

In [45]:
# Self operators

In [46]:
# increment
age = 12
age += 1
print(age)

13

In [47]:
age = 12
age += 50
print(age)

62

In [48]:
# decrement operator
age = 12
age -= 2
print(age)

10

In [49]:
amount_to_increment = 3
age += amount_to_increment
print(age)

13

In [50]:
# multiplication operator
age = 12
age *= 3
print(age)

36

In [51]:
# division operator
age = 12
age /= 3
print(age)

4.0

In [52]:
# * operator can be used with string to repeat it many times

In [53]:
a = "Hi "
b = a*10
print(b)

Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi

In [54]:
# power operator
a = 5
b = 5**4
print(b)

625

In [55]:
# Uniry operator
# + do nothing
# - ivert sign

[<--- Previous Page](README.md)