# Conditional Statements

## If Statement
* An if statement is a programming conditioanl statement that, if proved true, performs a function or displays information.
* If statements are used for decision making. Thay will run the body of code only when the IF statement is true.
* when you want to justify one condition while the other condition is not true, then you use the "if statement".
```
num1 = 22
if num1 == 22:
    print("The number is 22")
```

In [1]:
species = "cat"
if species == "cat":
    print("Yep, it's cat.")

Yep, it's cat.

In [2]:
number_of_husbands = 1
if number_of_husbands == 1:
    print("So far so good.")

So far so good.

Multiple opearions can be performed in the if block

In [3]:
number_of_husbands = 1
if number_of_husbands == 1:
    print("So far so good.")
    print("Congratulations.")
    print("All done")

So far so good.
Congratulations.
All done

In [4]:
species = "cat"
if species == "cat":
    status = "ok"
    kingdom = "animal"
    print("Yep, it's cat.")

Yep, it's cat.

Methamtical opertions can be used in if condition

In [5]:
if 2 + 2 == 4:
    print("Everything makes sense.")

Everything makes sense.

## Comparison Operators
* A comparison operator in python, also called python relational operator, **compares the value** of two operands and **returns True or False** based on whether the condition is met
* String comparison. You can use **(>,<,<=,>=,==,!=)** to compare two strings. Python compares string **lexicographically** i.e using ASCII value of the characters.
    * **>** is greater than
    * **<** is less than
    * **>=** is greater than or equal to 
    * **<=** is less than or equal to
    * **==** is equal to
    * **>** is not equal to
```
number = 69
if number >=50:
    print("Number is greater than 50")
```

In [6]:
your_ticket_number = 8
if your_ticket_number == 8:
    print("You won.")

You won.

In [7]:
# when returns true
a = 100
b = 200
if a<b: #returns true, : defines the block 
    print("a is less than b") #Rather than using {} we use indent
    print("Hello A")
    print("Hello B")
print("Hello Python") #We donâ€™t use end just remove the indent

a is less than b
Hello A
Hello B
Hello Python

In [8]:
# when returns false
a = 100
b = 200
if b<a: #returns false
    print("b is less than a") #this block will not be executed
print("Pakistan")

Pakistan

In [9]:
if 1 > 0:
    print("All OK")

All OK

In [10]:
if 1 < 0:
    print("All OK")

In [11]:
if 1 >= 0:
    print("All OK")

All OK

In [12]:
if 1 <= 0:
    print("All OK")

## Else Statements
* An **else statement** can be combined with an if statement.
* An else statement contains the **block of code** that **executes** if the conditional expression in the **if statement** resolves to 0 or a **FALSE** value.
```
name = "Python"
if name == "Python":
    print("Your name is Hassan")
else:
    print("I don't know your name")
```

In [13]:
species = "catm"
if species == "cat":
    print("Yep, it's cat.")
if species != "cat":
    print("Nope, not cat.")

Nope, not cat.

In [14]:
species = "cat"
if species == "cat":
    print("Yep, it's cat.")
else:
    print("Nope, not cat.")

Yep, it's cat.

In [15]:
buy_score = 0
donut_condition = "fresh"
donut_filling = "chocolate"
donut_price = "reasonable"
if donut_condition == "fresh":
    buy_score += 10
if donut_filling == "chocolate":
    buy_score += 5
if donut_price == "reasonable":
    buy_score += 7
print(buy_score)

22

## Elif Statements
* The **elif statement** allows you to **check multiple expressions** for True and execute a block of code as soon as one of the conditions evaluates to True.
* Similar to the else, the **elif statement is optional**. However unlike else, for which there can be at most one statement, there can be **any numbers of elif statements** following an if.

In [16]:
donut_condition = "not fresh"
donut_price = "low"
if donut_condition == "fresh":
    buy_score = 10
elif donut_price == "low":
    buy_score = 5
else:
    buy_score = 0
print(buy_score)

5

## Testing Sets of Conditions
* The condition usually uses **comparisons** and **arithmetic** expressions with variables. These expressions are evaluated to **Boolean** values **True or False**. The statements for the decision taking are called conditioanl statements, alternatively thay are also known as conditional expressions or conditional consrysts.

In [17]:
weight = 450
time = 6
if weight > 300 and time < 6:
    status = "try to recruit him"
print(status)

ok

In [18]:
status=0
weight = 450
time = 7
if weight > 300 and time < 6:
    status = "try to recruit him"
print(status)

0

In [19]:
weight = 301
time = 4.9
age = 18
height = 70
if weight > 300 and time < 6 and age > 17 and height < 72:
    status = "try to recruit him"
    print(status)

try to recruit him

In [20]:
SAT = 0
GPA = 3
parent = "alum"
if SAT > 1 or GPA > 2.5 or parent == "alum":
    message = "Welcome to Leeds College!"
    print(message)

Welcome to Leeds College!

In [21]:
# Always use ( ) while using more than one conditions in the if statement
age = 70
res = "U.K."
if (age > 65 or age < 21) and res == "U.K.": 
    print(res)

U.K.

In [22]:
x=a=1
y=b=5
c=d=1
h=f=2
g=0
e=0
if (x == y or a == b) and c == d:
    g = h
else:
    e = f
print(g,e)

0 2

## If Statements Nested
* A **nested If** is na if statement that is the **target of another if statement**. Nested if statements means an if statement inside another if statement.
* The inner if block will **only** be **executed** if the **outer if block executes successfully**.

In [23]:
if 1 > 0: 
    if 0 < 1: 
        if 1 >= 0: 
            if 1 >= 1: 
                if 0 <= 1: 
                    if 1 <= 1:
                        print("All OK")

All OK

In [24]:
x=a=1
y=b=1
c=d=1
h=f=2
g=0
e=0
if c == d:
    if x == y:
        g = h
    elif a == b:
        g = h
    else:
        e = f
else:
    e = f
print(g,e)

2 0

In [25]:
full_name = "Mark" + " " + "Myers"
first_name = "Mark"
last_name = "Myers"
materials_cost = 81.50
labor_cost = 135
total_cost = 216.5
x=1
y=1
a=3
b=1
if full_name == "Mark" + " " + "Myers": 
    if full_name == first_name + " " + "Myers": 
        if full_name == first_name + " " + last_name: 
            if total_cost == 81.50 + 135: 
                if total_cost == materials_cost + 135: 
                    if total_cost == materials_cost + labor_cost: 
                        if x + y == a - b:
                            print("All OK")

All OK

[<--- Previous Page](README.md)