# Tuples
Tuples are just like Python list except that theay are immutable. You can not add, delete and chang elements after the creation of Tuple instance.

In [1]:
tpl = (1,4,5,True)
print(tpl)

(1, 4, 5, True)

In [2]:
print(tpl[1])

4

In [3]:
print(tpl.count(4))

1

In [4]:
print(tpl.index(5))

2

In [5]:
atuple = ("nasir", 100, "hussain")
atuple

('nasir', 100, 'hussain')

In [6]:
len(atuple)

3

In [7]:
atuple[2]

'hussain'

In [8]:
a = 100 , 200 , 100 , 200, 100
print(a)

(100, 200, 100, 200, 100)

In [9]:
a.count(100)

3

In [10]:
a.index(100)

0

In [11]:
states_in_order_of_founding = ("Delaware", "Pennsylvania", "New Jersey", "Georgia")
second_state_founded = states_in_order_of_founding[1] 
print("The second state founded was " + second_state_founded)

The second state founded was Pennsylvania

In [12]:
states_in_order_of_founding = ("Delaware", "Taylorswiftsylvania formerly known as Pennsylvania", "New Jersey", "Georgia")
states_in_order_of_founding

('Delaware',
 'Taylorswiftsylvania formerly known as Pennsylvania',
 'New Jersey',
 'Georgia')

[<--- Previous Page](README.md)