# Type Casting
changing data type from one to other is known as type casting

In [1]:
userinput = input ("Enter Something : ")
type(userinput)

Enter Something : 15

str

In [2]:
userinput = int(input ("Enter Something : "))
type(userinput)

Enter Something : 15

int

In [3]:
float(52)

52.0

Example

In [4]:
operand = int(input('Enter the Number: '))
print(operand)
type(operand)

Enter the Number: 15
15

int

Example

In [5]:
operand = float(input('Enter the Number in fractional value: '))
print(operand)
type(operand)

Enter the Number in fractional value: 16.25
16.25

float

In [6]:
print ('You entered the value = ' + str(operand))

You entered the value = 16.25

In [7]:
operand = str(operand)
print(operand)
type(operand)

16.25

str

Example

In [8]:
city_to_check = input("Enter the name of a city: ")

Enter the name of a city: Gojra

In [9]:
monthly_income = input("Enter your monthly income: ")

Enter your monthly income: 20000

In [10]:
monthly_income_as_an_integer = int(monthly_income) 
print(monthly_income_as_an_integer)

20000

In [11]:
monthly_income_as_a_float = float(monthly_income)
print(monthly_income_as_a_float)

20000.0

Example

In [12]:
min_wage = 15
print("The minimum wage in your state is $" + min_wage)

TypeError: ignored

In [13]:
min_wage = 15
min_wage = str(min_wage)
print("The minimum wage in your state is $" + min_wage)

The minimum wage in your state is $15

[<--- Previous Page](README.md)