# MTA Exam

---

In [ ]:
a = 23
a

In [ ]:
type(a)

In [ ]:
type(23)

In [ ]:
a = 24.6
type(a)

In [ ]:
a = "24"
type(a)

In [ ]:
type(True)

In [ ]:
name = "Hassan Ali Khan"
type(name)

In [ ]:
#          0       1     2    3 
names = ["Ali", "Hamza", 7, True]
#         -4      -3     -2   -1 
type(names)

In [ ]:
t1 = (2, "Ali", False)
type(t1)

In [ ]:
d1 = {"name":"Hassan","fName":"Zaheer"}
type(d1)

In [ ]:
s = {1,1,1,2,2,2,3,3,3,}
s
type(s)

---

In [ ]:
# Single Value is indexing
# Multiple vales is slicing

In [15]:
a = "23"
print(type(a))
a = int(a)
print(type(a))
a = float(a)
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>

In [17]:
a = "23.4"
print(type(a))
a = float(a)
print(type(a))
a = int(a)
print(type(a))

<class 'str'>
<class 'float'>
<class 'int'>

In [19]:
#      0   1   2   3   4
l1 = ["A","B","C","D","E"]
#     -5  -4  -3  -2  -1
l1

['A', 'B', 'C', 'D', 'E']

In [22]:
print(l1[2])
print(l1[-3])

C
C

In [28]:
print(l1)
print(l1[1:4])
print(l1[-4:-2])
print(l1[-2:-4:-1])
print(l1[::-1])
print(l1[::2])
print(l1[1:])

['A', 'B', 'C', 'D', 'E']
['B', 'C', 'D']
['B', 'C']
['D', 'C']
['E', 'D', 'C', 'B', 'A']
['A', 'C', 'E']
['B', 'C', 'D', 'E']

In [20]:
l2 = list(map(chr,(range(65,91))))
l2

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

---