# WorkShop - Inam UL Haq - 2020/07/21

In [1]:
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")

Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad

In [2]:
for i in range(5):
    print("Pakistan Zindabad")

Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad

In [3]:
place = "Lahore"
for i in range(5):
    print(f"{place} Zindabad")

Lahore Zindabad
Lahore Zindabad
Lahore Zindabad
Lahore Zindabad
Lahore Zindabad

In [4]:
place = "Lahore"
for i in range(5):
    print(f"{place} Zindabad",i)
    if i == 3:
        break

Lahore Zindabad 0
Lahore Zindabad 1
Lahore Zindabad 2
Lahore Zindabad 3

In [5]:
num = int(input("Enter a number : "))
for multiplier in range(1,11):
    print(f"{num} x {multiplier} = {num*multiplier}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [6]:
num1 = int(input("Enter 1st number : "))
num2 = int(input("Enter 2nd number : "))
for multiplier in range(1,11):
    print(f"{num1} x {multiplier} = {num*multiplier}", end="\t")
    print(f"{num2} x {multiplier} = {num*multiplier}")

5 x 1 = 2	6 x 1 = 2
5 x 2 = 4	6 x 2 = 4
5 x 3 = 6	6 x 3 = 6
5 x 4 = 8	6 x 4 = 8
5 x 5 = 10	6 x 5 = 10
5 x 6 = 12	6 x 6 = 12
5 x 7 = 14	6 x 7 = 14
5 x 8 = 16	6 x 8 = 16
5 x 9 = 18	6 x 9 = 18
5 x 10 = 20	6 x 10 = 20

In [7]:
counter = int(input("Enter counter : "))
startTable = int(input("Enter start table : "))
endTable = int(input("Enter end table : "))
for i in range (1,counter+1):
    for j in range(startTable,endTable+1):
        print(f"{j} x {i} = {j*1}",end="\t")
    print("")

1 x 1 = 1	2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5
1 x 2 = 1	2 x 2 = 2	3 x 2 = 3	4 x 2 = 4	5 x 2 = 5
1 x 3 = 1	2 x 3 = 2	3 x 3 = 3	4 x 3 = 4	5 x 3 = 5
1 x 4 = 1	2 x 4 = 2	3 x 4 = 3	4 x 4 = 4	5 x 4 = 5
1 x 5 = 1	2 x 5 = 2	3 x 5 = 3	4 x 5 = 4	5 x 5 = 5

---

In [8]:
if True:
    print("Pakistan")
else:
    print("Lahore")

Pakistan

In [9]:
print("Pakistan") if True else print("Lahore")

Pakistan

In [10]:
[f"{2} x {i} = {2*i}" for i in range(10)]

['2 x 0 = 0',
 '2 x 1 = 2',
 '2 x 2 = 4',
 '2 x 3 = 6',
 '2 x 4 = 8',
 '2 x 5 = 10',
 '2 x 6 = 12',
 '2 x 7 = 14',
 '2 x 8 = 16',
 '2 x 9 = 18']

In [11]:
# break
# continue
# pass

In [12]:
# counter
# condition
# increment / decrement

while True:
    print("abc")
    break

abc

In [13]:
test = 1
while test <= 10:
    print(test)
    test += 1

1
2
3
4
5
6
7
8
9
10

In [14]:
database = []
while True:
    user = input("user name or x")
    passwd = input("password or x")
    if user == "x" or passwd == "x":
        break
    database.append([user,passwd])
database

[['a', 'a'], ['b', 'b'], ['c', 'c']]

In [15]:
user_name = input("userName : ")
password = input("password : ")
for r in database:
    if user_name == r[0] and password == r[1]:
        print("Valid User")
        break
    else:
        print("Invalid user")

Invalid user
Invalid user
Valid User