# Review Session - Inam UL Haq - 2020/04/19

## Print

In [1]:
print("Hello world")
print('Hello world from single quatation')
print("This is Python's first program")
print('For using double "qutatations"')

Hello world
Hello world from single quatation
This is Python's first program
For using double "qutatations"

In [2]:
print(2)
print(2+3)
print(2*3)

2
5
6

## Variables

In [3]:
name = "Hassan"
print(name)
age1 = 28
print(age1)
last_name = "Khan"
print(last_name)

Hassan
28
Khan

In [4]:
age = 28
age2 = "28"
print(type(age))
print(type(age2))

<class 'int'>
<class 'str'>

In [5]:
a = input ("Enter your last name : ")
b = input ("Enter your age : ")
print(a,type(a))
print(b,type(b))

Khan <class 'str'>
29 <class 'str'>

In [6]:
f_name = "Hassan"
l_name = "Khan"
print("My name is "+f_name+" "+last_name)

My name is Hassan Khan

In [7]:
age1 = "56"
age2 = "28"
age3 = age1+age2
print(age3)

5628

In [8]:
a = input("Enter a number : ")
print(a,type(a))

18 <class 'str'>

In [9]:
a = 67
b = 8
c = a+b
print(c)

75

In [10]:
a = 67.5
b = 8.25
c = a*b
print(c)

556.875

In [11]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Data Types and User Input

In [12]:
num1  =input("Enter a number : ")
print(type(num1))

<class 'str'>

In [13]:
# Python is dynamicaly typed language
# C is statically typed language

In [14]:
num1 = input("Enter a Number : ")
num2 = input("Enter a number : ")
# Concatenation
print(num1+num2)
# Type Casting
print(int(num1)+int(num2))

1122
33