# Review - Nasir Hussain - 2020/05/04

In [1]:
name = "Hassan"
name

'Hassan'

In [2]:
name = "Uamir"
name

'Uamir'

In [3]:
id(name)

2068279467504

---

In [4]:
# Learn indentation
def abc():
    print("This is a function")
    print("This is part of function too")
print("This is not part of function")
abc()

This is not part of function
This is a function
This is part of function too

---

In [5]:
a = 10
a

10

In [6]:
# List
# Tuple
# Dictinary
# Set

In [7]:
students = ["Ali", "Njam", "Sheery"]
students

['Ali', 'Njam', 'Sheery']

In [8]:
type(students)

list

In [9]:
students[1]

'Njam'

In [10]:
type(students[2])

str

---

In [11]:
# Commants
# This is a comment

'''
This is a comment
Thish is a comment too
'''

'\nThis is a comment\nThish is a comment too\n'

---

In [12]:
print(students)
del students[1]
print(students)

['Ali', 'Njam', 'Sheery']
['Ali', 'Sheery']

In [13]:
print(students)
a = students.pop()
print(a)
print(students)

['Ali', 'Sheery']
Sheery
['Ali']

In [14]:
print(123/17)
print(123%17)

7.235294117647059
4

---

In [15]:
new_list = [{"rollNos":[1,2,3,4],"students":["Ali","Njam","Sethi","Ibtisam"]}]
new_list

[{'rollNos': [1, 2, 3, 4], 'students': ['Ali', 'Njam', 'Sethi', 'Ibtisam']}]

In [16]:
type(new_list)

list

In [17]:
new_list[0]

{'rollNos': [1, 2, 3, 4], 'students': ['Ali', 'Njam', 'Sethi', 'Ibtisam']}

In [18]:
type(new_list[0])

dict

---

In [19]:
students = ["Ali", "Njam", "Sheery"]
students

['Ali', 'Njam', 'Sheery']

In [20]:
students[1]

'Njam'

In [21]:
students.index("Ali")

0

In [22]:
"Hassan" in students

False

In [23]:
"Ali" in students

True

---

In [24]:
# tupple no alterations
atupple = (1,2,3,4,5,6)
atupple

(1, 2, 3, 4, 5, 6)

In [25]:
atupple[2]

3

In [26]:
atupple[2:5]

(3, 4, 5)

---

In [27]:
# Expections
# 10/4 correct syntax
# 10/4 correct syntax but logical error
# Run time errors are exceptions

---

In [28]:
studentCourse = input("Enter your course name: ")
print("Student course name is "+ studentCourse)

Student course name is 12 hassan

In [29]:
# Taking multiple input at a time
x ,y = input("Enter two values : ").split()
print(x,y)

12 Hassan

---

In [30]:
# Copy by value and copy by reference

In [31]:
val1 = 100
val1

100

In [32]:
val2 = val1

In [33]:
val2

100

In [34]:
val1 = 200
val1

200

In [35]:
val2

100

---

In [36]:
aSet = {1,1,1,2,2,2,3,4,5,6,6,6,7,7,8,9,10,10,10}
aSet

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

---

In [37]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [38]:
count = 0
while count <= 10:
    print(count)
    count = count+1

0
1
2
3
4
5
6
7
8
9
10

In [39]:
close_friends = []
for i in range(4):
    friend = input("Enter your friend name : ")
    close_friends.append(friend)
print(close_friends)

['ali', 'hassan', 'najam', 'range']

In [40]:
close_friends = []
flag = True
while flag:
    friend = input("Enter your friend name : ")
    if friend == "q":
        flag = False
    else:
        close_friends.append(friend)
print(close_friends)

['ali']

In [41]:
for i in range (10):
    if i == 2 or i == 4:
        continue
    elif i == 8:
        break
    else:
        print(i)

0
1
3
5
6
7