# WorkShop - Nasir Hussain and Muhammad Qasim - 2020/05/07

## Chapter 01 "Print"

In [1]:
print(1)
print("Hello")
print("Hassan","Ali")
print("Hassan","Ali",sep=" I_AM_A_SEPRATOR ")
print("Hassan","Ali",12,3.4,False,[1,2,3],{1,1,2,2,3}, sep=" --- ")

1
Hello
Hassan Ali
Hassan I_AM_A_SEPRATOR Ali
Hassan --- Ali --- 12 --- 3.4 --- False --- [1, 2, 3] --- {1, 2, 3}

## Chapter 02 "Variable for String"

In [2]:
# Data Can be
    # int
    # float
    # string
    # list
    # Bool
    # Dict
    # Set
    # tuple

In [3]:
total_marks = 100 # int 100 is assigned to total_marks
print(total_marks)
grade = "A" # string A is assigned to grade
print(grade)
grade = "B"
print(grade)
alist = []
print(type(grade))
print(type(alist))
result = False
print((type(result)))

100
A
B
<class 'str'>
<class 'list'>
<class 'bool'>

In [4]:
roll_number = 100
course = "AI"
print("My rool number is 100 and my course is AI")
print("My rool number is "+str(roll_number)+" and my course is "+course)
print(f"My rool number is {roll_number} and my course is {course}")
print(("My rool number is {} and my course is {}").format(roll_number,course))
print(("My rool number is {0} and my course is {1}").format(roll_number,course))
print(("My rool number is {1} and my course is {0}").format(roll_number,course))

My rool number is 100 and my course is AI
My rool number is 100 and my course is AI
My rool number is 100 and my course is AI
My rool number is 100 and my course is AI
My rool number is 100 and my course is AI
My rool number is AI and my course is 100

## Methametical expression

In [5]:
# Oprators : +,-,*,/,>,<,>=,<=,!=,%,//,+=,-=

In [6]:
print(13+5)
print(13-5)
print(13*5)
print(13/5)
print(13//5)
print(13%5)
print(12<5)
print(12>5)
print(12>=5)
print(12<=5)
print(12!=5)
print(12==5)

18
8
65
2.6
2
3
False
True
True
False
True
False

In [7]:
count = 10
print(count)
count + 1 
print(count)
count = count +1
print(count)
count += 1
print(count)
count -= 1
print(count)
count *= 2
print(count)
count /= 2
print(count)

10
10
11
12
11
22
11.0

In [8]:
print(2*3/5+4/4*5*(2+5*3))
print(4+4*3//3+10/5)

86.2
10.0

## Variables naming conventions and rules

In [9]:
# cant be a Keyword
# cant start with a number
# cant start with a special chracter
# use _ in between words or use camel casing

## Conditonal statements

In [10]:
'''
if logic:
    statement 1
    statement 1
else:
    statement 3
'''

'\nif logic:\n    statement 1\n    statement 1\nelse:\n    statement 3\n'

In [11]:
name = "Hassan"
if name == "Ali":
    print("Valid USer")
else:
    print("In-Valid USer")

In-Valid USer

In [12]:
name = "Ali"
if name == "Ali":
    print("Valid USer")
else:
    print("In-Valid USer")

Valid USer

In [13]:
per = 70
if per >= 80:
    print("A+")
if per >= 70:
    print("A")
if per >= 60:
    print("B")
if per >= 50:
    print("C")
if per < 50:
    print("Fail")

A
B
C

In [14]:
per = 70
if per >= 80:
    print("A+")
elif per >= 70:
    print("A")
elif per >= 60:
    print("B")
elif per >= 50:
    print("C")
else:
    print("Fail")

A