# Review - Nasir Hussain - 2020/04/20

In [1]:
# This is a comment

In [2]:
# = is an operator (assignment)
a = 100
print(a)

100

In [3]:
# === is comaprison operator
a = 100
b = 20
print(a == b)
print(100 == 100)

False
True

In [4]:
if a == b:
    print("very Good")
elif a>b:
    print("Excelent")
elif a<b:
    print("Ok")
else:
    print("Very Bad")

Excelent

In [5]:
# String formation or formating
numOfStudents = 150
course = "AI"
print("I am learning course of "+course+" there are "+str(numOfStudents)+ " students in the class")
print(("I am learning course of {} there are {} students in the class").format(course,numOfStudents))
print(f"I am learning course of {course} there are {numOfStudents} students in the class")

I am learning course of AI there are 150 students in the class
I am learning course of AI there are 150 students in the class
I am learning course of AI there are 150 students in the class

In [6]:
adic = {"name":"Hassan"}
adic

{'name': 'Hassan'}

In [7]:
adic = {"name":["Hassan","Uamir","Ibtisam"],"score":[100,200,100],"gender":["M","M","M"]}
adic

{'name': ['Hassan', 'Uamir', 'Ibtisam'],
 'score': [100, 200, 100],
 'gender': ['M', 'M', 'M']}

In [8]:
adic["grade"]=["A","A+","B"]
adic

{'name': ['Hassan', 'Uamir', 'Ibtisam'],
 'score': [100, 200, 100],
 'gender': ['M', 'M', 'M'],
 'grade': ['A', 'A+', 'B']}

In [9]:
import pandas as pd
dataFrame = pd.DataFrame(adic)
dataFrame

      name  score gender grade
0   Hassan    100      M     A
1    Uamir    200      M    A+
2  Ibtisam    100      M     B

In [10]:
print("Hassan's own this book")
print('He said "Go home"')

Hassan's own this book
He said "Go home"

In [11]:
# State of list can be changed mutabale
# State of tuple cant be changed inmutabel

In [12]:
class Student():
    def __init__(self,name,age,course): # Initilizer/constructor
        self.name = name
        self.age = age
        self.course = course
st1 = Student("Hassan",29,"AI") # Object is created here
st1

In [13]:
import numpy as np
arr = np.arange(24).reshape((2,3,4))
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [14]:
arr.transpose(2,1,0)

array([[[ 0, 12],
        [ 4, 16],
        [ 8, 20]],

       [[ 1, 13],
        [ 5, 17],
        [ 9, 21]],

       [[ 2, 14],
        [ 6, 18],
        [10, 22]],

       [[ 3, 15],
        [ 7, 19],
        [11, 23]]])

In [15]:
listu = []

In [16]:
members = input("Enter a list member")
listu.append(members)

In [17]:
listu

['12']

In [18]:
print("A","B") # Two values to be printer

A B

In [19]:
print("A"+"B") # Concatinate

AB