# WorkShop - Nasir Hussain and Muhammad Qasim - 2020/06/18

In [1]:
def abc1(n1, *l):
    return n1+sum(l)

abc1(1,2,3,4)
# abc1(3,3,9,n1=5)
# abc1(n1=5,l=[3,3,9])

10

In [2]:
def abc2(*l, n1=0):
    return sum(l)+ n1

abc2(1,9,3,n1=3)

16

In [3]:
def abc3(*l, n1, **d1):
    return int(n1)+sum(l)+sum([v for k,v in d1.items()])

abc3(5,8,8, n1=1,b=2)

24

In [4]:
abc3(1,3,2,n1=7,b=2)

15

# Lambda function:

*  One line function
* anonymous function
* never use before and after

In [5]:
# def fname(p1,p2,..):
#     fbody

#lambda p1,p1,p3: body

abc = lambda x1,x2,x3: x1+x2+x3

abc(3,3,4)

10

## Optional Code we will cover in next quarter

In [6]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(1,20, size=(6,3)), columns=["A","B","C"])
df

    A   B   C
0   9  12   5
1  18   6   8
2  14  12   6
3  15  15  17
4   5  18  15
5  19   7   3

In [7]:
# (A + B) * C

def abc(a,b,c):
    return (a+b)*c

df['Total']= df[['A',"B","C"]].apply(lambda x: abc(*x), axis=1)
df

    A   B   C  Total
0   9  12   5    105
1  18   6   8    192
2  14  12   6    156
3  15  15  17    510
4   5  18  15    345
5  19   7   3     78

In [8]:
a = lambda : 5
a()

5

---

In [9]:
# task1:
#     sort dictionary based on it value
#     solve with lambda function
    
#     Example:
#         {
#             "A",20,
#             "B":15,
#             "C",30
#         }
        
#     Output:
#         {
#             "B":15,
#             "A":20,
#             "C":30
#         }

In [10]:
d1 = {
    "C":30,
    "A":20,
    "B":15
    }
sorted(d1.items(), key=lambda x:x[1])

[('B', 15), ('A', 20), ('C', 30)]

In [11]:
{k:v for k,v in sorted(d1.items(), key=lambda x:x[1])}

{'B': 15, 'A': 20, 'C': 30}

In [12]:
sorted(d1.items(), key=lambda x:x[1])

[('B', 15), ('A', 20), ('C', 30)]

# comprehensive style
-

if logic:
    logic True Block
else:
    logic False Block

logicTrueBlock if logic else logicFalseBlock

In [13]:
if False:
    print("TrueBlock")
else:
    print("FalseBlock")

FalseBlock

In [14]:
print("TrueBlock") if True else print("FalseBlock")

TrueBlock

# List Comprehensive

In [15]:
l = [1,3,4,5,6]
for i in l:
    print(i+2)

3
5
6
7
8

for item in list:
    loopBody

[loopBody for item in list]

In [16]:
l = [1,3,4,5,6]
[i+2 for i in l]

[3, 5, 6, 7, 8]

In [17]:
a = [(lambda x,y:x+y), (lambda x,y:x-y), (lambda x,y:x*y)]
print(a[0](5,7))
print(a[1](5,7))
print(a[2](5,7))

12
-2
35

# Recursive Function

In [18]:
#!5
1*2*3*4*5

120

In [19]:
def abc(x):
    a = 1
    for i in range(1,x+1):
        a = a* i
    return a

abc(5)

120

In [20]:
def abc(x):
    if x==0:
        return 1
    return abc(x-1)*x
    

abc(5)

120