# WorkShop - Nasir Hussain and Muhammad Qasim - 2020/05/21

In [1]:
mydic = {"name":"Hassan",100:12000,1:"Nasir Hussain"}
print(type(mydic))
print(mydic)

<class 'dict'>
{'name': 'Hassan', 100: 12000, 1: 'Nasir Hussain'}

In [2]:
print(mydic[1])
print(mydic["name"])

Nasir Hussain
Hassan

In [3]:
mydic["class"]="AI"
mydic["batch"]=6
mydic

{'name': 'Hassan', 100: 12000, 1: 'Nasir Hussain', 'class': 'AI', 'batch': 6}

In [4]:
mydic["students"]=["ansir","ali","imran"]
mydic

{'name': 'Hassan',
 100: 12000,
 1: 'Nasir Hussain',
 'class': 'AI',
 'batch': 6,
 'students': ['ansir', 'ali', 'imran']}

---

In [5]:
list1 = [1,2,3,4,5,6]
list2 = ['a','s']

In [6]:
newdic = {"key1":list2,"key2":list1}
newdic

{'key1': ['a', 's'], 'key2': [1, 2, 3, 4, 5, 6]}

In [7]:
newdic["key2"]

[1, 2, 3, 4, 5, 6]

In [8]:
newdic["key2"][2]

3

In [9]:
newdic["key2"][1:4]

[2, 3, 4]

---

In [10]:
mydic

{'name': 'Hassan',
 100: 12000,
 1: 'Nasir Hussain',
 'class': 'AI',
 'batch': 6,
 'students': ['ansir', 'ali', 'imran']}

In [11]:
mydic["batch"] = 11
mydic

{'name': 'Hassan',
 100: 12000,
 1: 'Nasir Hussain',
 'class': 'AI',
 'batch': 11,
 'students': ['ansir', 'ali', 'imran']}

---

In [12]:
nestDic = {"key1":{"name":"Hassan","age":29},"key2":{"name":"Zubair","age":25},"key3":[1,2,3,4,5]}
nestDic

{'key1': {'name': 'Hassan', 'age': 29},
 'key2': {'name': 'Zubair', 'age': 25},
 'key3': [1, 2, 3, 4, 5]}

In [13]:
nestDic["key2"]["name"]

'Zubair'

In [14]:
nestDic["key3"][0]

1

---

In [15]:
list1

[1, 2, 3, 4, 5, 6]

In [16]:
for a in list1:
    print(a)

1
2
3
4
5
6

In [17]:
mydic

{'name': 'Hassan',
 100: 12000,
 1: 'Nasir Hussain',
 'class': 'AI',
 'batch': 11,
 'students': ['ansir', 'ali', 'imran']}

In [18]:
for k in mydic.keys():
    print(k)

name
100
1
class
batch
students

In [19]:
for v in mydic.values():
    print(v)

Hassan
12000
Nasir Hussain
AI
11
['ansir', 'ali', 'imran']

In [20]:
for k in mydic.keys():
    print(mydic[k])

Hassan
12000
Nasir Hussain
AI
11
['ansir', 'ali', 'imran']

In [21]:
for v,k in mydic.items():
    print(v,k)

name Hassan
100 12000
1 Nasir Hussain
class AI
batch 11
students ['ansir', 'ali', 'imran']

---

In [22]:
nestDic = {'key1': {'name': 'Hassan', 'age': 29},
            'key2': {'name': 'Zubair', 'age': 25},
            'key3': {'name': 'Umair', 'age': 28},
            }
nestDic

{'key1': {'name': 'Hassan', 'age': 29},
 'key2': {'name': 'Zubair', 'age': 25},
 'key3': {'name': 'Umair', 'age': 28}}

In [23]:
for k in nestDic.keys():
    for k2 in nestDic[k].keys():
        print(k2)

name
age
name
age
name
age

---

In [24]:
import pandas as pd
data = {"studemts":["asad","fahad","ali","nasir","qasim"],
        "rollNum":[12,13,14,15,16],
        "age":[22,23,46,13,26],
        "course":["AI","BCC","CNC","IOT","5G"]}
data

{'studemts': ['asad', 'fahad', 'ali', 'nasir', 'qasim'],
 'rollNum': [12, 13, 14, 15, 16],
 'age': [22, 23, 46, 13, 26],
 'course': ['AI', 'BCC', 'CNC', 'IOT', '5G']}

In [25]:
dataframe = pd.DataFrame(data)
dataframe

  studemts  rollNum  age course
0     asad       12   22     AI
1    fahad       13   23    BCC
2      ali       14   46    CNC
3    nasir       15   13    IOT
4    qasim       16   26     5G

In [26]:
value = data["studemts"][3],data["age"][0]
value

('nasir', 22)

---

In [27]:
list1 = [1, 2, 3, 4, 5, 6]
list0 = list1+[2,3,5,7]
list0

[1, 2, 3, 4, 5, 6, 2, 3, 5, 7]

In [28]:
myset = set(list0)
myset

{1, 2, 3, 4, 5, 6, 7}

In [29]:
print(data)
print(data)

{'studemts': ['asad', 'fahad', 'ali', 'nasir', 'qasim'], 'rollNum': [12, 13, 14, 15, 16], 'age': [22, 23, 46, 13, 26], 'course': ['AI', 'BCC', 'CNC', 'IOT', '5G']}
{'studemts': ['asad', 'fahad', 'ali', 'nasir', 'qasim'], 'rollNum': [12, 13, 14, 15, 16], 'age': [22, 23, 46, 13, 26], 'course': ['AI', 'BCC', 'CNC', 'IOT', '5G']}

In [30]:
i = 250
len(str(i))

3