# Review - Muhammad Qasim - 2020/05/11

In [1]:
# index   0   1   2      3          4           6                     6
aList = ["A", 1, 1.5, [1,2,3],("a","b","c"), {8,9,12}, {"key1":[1,2,3],"key2":"Ali"}]
# index   -7  -6 -5     -4         -3           -2                    -1
aList

['A',
 1,
 1.5,
 [1, 2, 3],
 ('a', 'b', 'c'),
 {8, 9, 12},
 {'key1': [1, 2, 3], 'key2': 'Ali'}]

In [2]:
print(aList[4])
print(aList[-3])

('a', 'b', 'c')
('a', 'b', 'c')

In [3]:
name = input("Enter your name : ")
f_name = input("Enter your father's name : ")
course = input("Enter your course : ")
time = input("Enter your class time : ")
print("Name : ",name)
print("Father's name : ", f_name)
print("Course : ", course)
print("Class time : ", time)

Name :  Hassan
Father's name :  Zaheer
Course :  AI
Class time :  4:00

In [4]:
aDict = {
    "name":name,
    "f_name":f_name,
    "course":course,
    "time":time
    }
aDict

{'name': 'Hassan', 'f_name': 'Zaheer', 'course': 'AI', 'time': '4:00'}

In [5]:
a = input("Enter number1 : ")
b = input("Enter number2 : ")
print(a + b)

1112

In [6]:
print(type(a),type(b))

<class 'str'> <class 'str'>

In [7]:
print(int(a) + int(b))

23

In [8]:
a = input("Enter yor CNIC")
print(a)
cnic = int("".join([x for x in a if str.isnumeric(x)]))
print(cnic)

33188jnjnf-'';6897851meflerl9
3318868978519

In [9]:
aDict

{'name': 'Hassan', 'f_name': 'Zaheer', 'course': 'AI', 'time': '4:00'}

In [10]:
aDict["name"]

'Hassan'

In [11]:
aDict.get("NAme")

In [12]:
aDict.get("name")

'Hassan'

In [13]:
q = True
newDic = {}
while q == True:
    k = input("Key : ")
    if k == "no":
        q = False
    else:
        v = input("Value : ")
        newDic[k]=v

In [14]:
newDic

{'k1': 'v1', 'k2': 'v2'}

In [15]:
card = """
PIAIC Student Card
Roll No: 1
Name : Hassan
Father's Name : Zaheer
Course: A.I
"""
card

"\nPIAIC Student Card\nRoll No: 1\nName : Hassan\nFather's Name : Zaheer\nCourse: A.I\n"

In [16]:
database = [[1,"Hassan","Zaheer","A.I"],
            [2,"Umair","Hafeez","CNC"],
            [3,"Zubair","Hafeez","BCC"],
            [4,"Saad","Farooq","IOT"]]
database

[[1, 'Hassan', 'Zaheer', 'A.I'],
 [2, 'Umair', 'Hafeez', 'CNC'],
 [3, 'Zubair', 'Hafeez', 'BCC'],
 [4, 'Saad', 'Farooq', 'IOT']]

In [17]:
for r in database:
    card = """
    PIAIC Student Card
    Roll No: {}
    Name : {}
    Father's Name : {}
    Course: {}
    """.format(r[0],r[1],r[2],r[3])
    print(card)

    PIAIC Student Card
    Roll No: 1
    Name : Hassan
    Father's Name : Zaheer
    Course: A.I


    PIAIC Student Card
    Roll No: 2
    Name : Umair
    Father's Name : Hafeez
    Course: CNC


    PIAIC Student Card
    Roll No: 3
    Name : Zubair
    Father's Name : Hafeez
    Course: BCC


    PIAIC Student Card
    Roll No: 4
    Name : Saad
    Father's Name : Farooq
    Course: IOT

In [18]:
for r in database:
    card = f"""
    PIAIC Student Card
    Roll No: {r[0]}
    Name : {r[1]}
    Father's Name : {r[2]}
    Course: {r[3]}
    """
    print(card)

    PIAIC Student Card
    Roll No: 1
    Name : Hassan
    Father's Name : Zaheer
    Course: A.I


    PIAIC Student Card
    Roll No: 2
    Name : Umair
    Father's Name : Hafeez
    Course: CNC


    PIAIC Student Card
    Roll No: 3
    Name : Zubair
    Father's Name : Hafeez
    Course: BCC


    PIAIC Student Card
    Roll No: 4
    Name : Saad
    Father's Name : Farooq
    Course: IOT

In [19]:
a = "Pakistan Zindabad"
a

'Pakistan Zindabad'

In [20]:
print(list(a))

['P', 'a', 'k', 'i', 's', 't', 'a', 'n', ' ', 'Z', 'i', 'n', 'd', 'a', 'b', 'a', 'd']

In [21]:
print(a.split(" "))

['Pakistan', 'Zindabad']

In [22]:
print(a.split("a"))

['P', 'kist', 'n Zind', 'b', 'd']

In [23]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
last_element = list1.pop()
last_element

10

In [25]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]